{% extends "base.html" %}

{% block content %}
  <div class="container">
    <img class="logo-sml" src="{{url_for('static', filename='logo.png')}}" alt="">
    <h1>About us</h1>
    <p>This is a section for us to say a bit about us.</p>
  </div>
{% endblock %}