<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static', filename='stylesheet.css')}}">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300&display=swap" rel="stylesheet">
    <title>{{ title }} - LTU Bikes</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/icon">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/icon">

    <style>
        .dark-mode {
            background-color: black;
            color: white;
        }
    </style>

</head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <nav>
                        <a href="{{ url_for('index') }}">Home</a>
                        <a href="{{ url_for('login') }}">Login</a>
                        <a href="{{ url_for('register') }}">Register</a>
                        <a href="{{ url_for('profile') }}">My profile</a>
                    </nav>
                </div>
            </div>
        </div>


        <script>
            if (background == 1) {
            var element = document.body;
            element.classList.toggle("dark-mode");
            }
        </script>
        <div class="logged-container">
          <p>{{ data[0] + data[1] }}</p>

          <audio id="sound1" src="{{ url_for('static', filename='plop.wav') }}" preload=auto></audio>

          <a href="{{ url_for('logout') }}" onclick="document.getElementById('sound1').play();">{{ data[2] }}</a>
        </div>
        <div class="flashed">
          {% with messages = get_flashed_messages() %}
          {% if messages %}
          <ul>
              {% for message in messages %}
              <li>{{ message }}</li>
              {% endfor %}
          </ul>
        </div>

        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
    <footer>
        <!-- weather widget start -->
        <div id="m-booked-small-t2-99861"> <div class="booked-weather-120x36 w120x36-03" style="background-color:#2071C9; color:#FFFFFF; border-radius:4px; -moz-border-radius:4px;"> <a target="_blank" style="color:#FFFFFF;" href="https://hotelmix.co.uk/weather/garforth-81153" class="booked-weather-120x36-city">Garforth</a> <a target="_blank" class="booked-weather-120x36-bottom" href="https://www.booked.net/"><img src="//s.bookcdn.com/images/letter/s5.gif" alt="https://www.booked.net" /></a> <div class="booked-weather-120x36-degree"><span class="plus">+</span>4...<span class="plus">+</span>12&deg; C</div> </div> </div><script type="text/javascript"> var css_file=document.createElement("link"); var widgetUrl = location.href; css_file.setAttribute("rel","stylesheet"); css_file.setAttribute("type","text/css"); css_file.setAttribute("href",'https://s.bookcdn.com/css/w/bw-120-36.css?v=0.0.1'); document.getElementsByTagName("head")[0].appendChild(css_file); function setWidgetData_99861(data) { if(typeof(data) != 'undefined' && data.results.length > 0) { for(var i = 0; i < data.results.length; ++i) { var objMainBlock = document.getElementById('m-booked-small-t2-99861'); if(objMainBlock !== null) { var copyBlock = document.getElementById('m-bookew-weather-copy-'+data.results[i].widget_type); objMainBlock.innerHTML = data.results[i].html_code; if(copyBlock !== null) objMainBlock.appendChild(copyBlock); } } } else { alert('data=undefined||data.results is empty'); } } var widgetSrc = "https://widgets.booked.net/weather/info?action=get_weather_info;ver=6;cityID=81153;type=12;scode=2;domid=579;anc_id=21205;cmetric=1;wlangID=1;color=2071c9;wwidth=118;header_color=2071c9;text_color=ffffff;link_color=ffffff;border_form=0;footer_color=2071c9;footer_text_color=ffffff;transparent=0";widgetSrc += ';ref=' + widgetUrl;widgetSrc += ';wstrackId=4736934';var weatherBookedScript = document.createElement("script"); weatherBookedScript.setAttribute("type", "text/javascript"); weatherBookedScript.src = widgetSrc; document.body.appendChild(weatherBookedScript) </script>
        <!-- weather widget end -->
        <div class="container">
            <p class="small-txt">©2021 Leeds Trinity University</p>
        </div>
    </footer>
</html>
