{% extends "base.html" %}

{% block content %}
    <div class="container">
      <img class="logo-sml" src="{{url_for('static', filename='logo.png')}}" alt="">
      <h1>Our fleet...</h1>
    </div>

    <div class="container">
      <img class="bike-img" src="{{url_for('static', filename='mens-bike.png')}}" alt="">
      <br>
      <div class="button-container">
        <a href="{{ url_for('bookBlue') }}"><button  type="button" name="book">Book!</button></a>
      </div>

    </div>
    <br>

    <div class="container">
      <img class="bike-img" src="{{url_for('static', filename='womens-bike.png')}}" alt="">
      <br>

      <div class="button-container">
        <a href="{{ url_for('bookPink') }}"><button  type="button" name="book">Book!</button></a>
      </div>

    </div>


{% endblock %}
