{% extends "base.html" %}

{% block content %}
  <div class="container">
    <img class="logo-sml" src="{{ url_for('static', filename='logo.png') }}" alt="">
    <br>
    <br>
    <img class="bike-img-lrg" src="{{url_for('static', filename='womens-bike.png')}}" alt="">
    <br>
    <p class="desc">A fabulously pink teeny bicycleta</p>
    <p>Rate: £1.00 /hr</p>
  </div>
  <div class="container">
    <a href="{{ url_for('pay') }}"><button  type="button" name="book">Get my bike!</button></a>
  </div>
{% endblock %}
