{% extends "base.html" %}

{% block content %}
  <div class="container">
    <img class="logo-sml" src="{{url_for('static', filename='logo.png')}}" alt="">
    <h1>Export data</h1>
  </div>
    <div class="container">
      <div class="button-container">
        <button type="button" name="button">Export as .xls</button>
        <br>
        <button type="button" name="button">Export as .csv</button>
        <br>
        <button type="button" name="button">Export as .pdf</button>
      </div>
    </div>




{% endblock %}
