{% extends "base.html" %}

{% block content %}
  <div class="container">
    <img id="logo-lrg" class="logo-lrg" src="{{ url_for('static', filename='logo.png') }}" alt="">
    <h1 id="main"></h1>
    <marquee>220 bikes availible! - BOOK NOW - </marquee>
    <br>
    <iframe id="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2353.7020124470614!2d-1.6481099839514461!3d53.848163744705055!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4879588f7409102b%3A0x69c634dfccc0f72a!2sLeeds%20Trinity%20University!5e0!3m2!1sen!2suk!4v1615931573267!5m2!1sen!2suk" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    <nav id="lower"><a href="{{ url_for('bikes') }}">View bikes</a></nav>
    <nav id="lower"><a href="{{ url_for('about') }}">About</a></nav>

  </div>
{% endblock %}
