{% extends "base.html" %}

{% block content %}
    <div class="container">
      <img class="logo-sml" src="{{url_for('static', filename='logo.png')}}" alt="">
      <h1>Sign In</h1>
    </div>
    <form action="" method="post">
        <div class="container">
          <div class="input-box">
            <label for="username"><b>Username</b></label>
            <input type="text" placeholder="Enter Username" name="username" required>
          </div>

          <div class="input-box">
            <label for="password"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="password" required>
          </div>
          <div class="button">

            <button type="submit">Login</button>
            <button href="{{ url_for('register') }}">Create account</button>
         </div>
        </div>
    </form>
    <div>
        {% with messages = get_flashed_messages() %}
          {% if messages %}
          <ul>
              {% for message in messages %}
              <li>{{ message }}</li>
              {% endfor %}
          </ul>
          {% endif %}
        {% endwith %}
    </div>
{% endblock %}
