{% extends "base.html" %}

{% block content %}
  <div class="container">
    <img class="logo-sml" src="{{url_for('static', filename='logo.png')}}" alt="">
    <h1>Payment</h1>
  </div>
  <div class="container">

    <div class="input-box">
      <label for="card-number"><b></b></label>
      <input type="int" placeholder="Card Number" name="card-number" required>
    </div>

    <div class="input-box">
      <label for="expiry"><b></b></label>
      <input type="int" placeholder="Expiry Date (MM/YY)" name="expiry" required>
    </div>

    <div class="input-box">
      <label for="cvc"><b></b></label>
      <input type="int" placeholder="CVC" name="cvc" required>
    </div>

    <div class="pay-button">
      <br>
      <audio id="sound1" src="{{ url_for('static', filename='plop.wav') }}" preload=auto></audio>
      <a href="{{ url_for('success') }}" ><button type="submit" onclick="document.getElementById('sound1').play();">Pay</button></a>
    </div>
  </div>
{% endblock %}
