{% extends "base.html" %}

{% block content %}
    <div class="container">
      <img class="logo-sml" src="{{ url_for('static', filename='logo.png') }}" alt="">
      <h1>My profile</h1>
      <a href="{{ url_for('settings') }}"><img id="settings-cog" src="{{ url_for('static', filename='cog.png') }}" alt=""></a>
    </div>



    <div id="profile" class="container">
      <div>
          <img class="profile-img" src="{{ url_for('static', filename='no-profile.png') }}" alt="settings" href="{{ url_for('settings') }}">
      </div>
      <p>{{ data[3] }}</p>
      <p>Distance travelled to-date(km): </p>
      <p>Distance travelled (this week): </p>
      <p>Avg speed(mp/h): </p>
      <p>Avg kcal burned: </p>
      <p>Rentals: </p>
      <p>Expenditure to-date: £</p>
      <a id="export" class="small-txt" href="{{ url_for('export') }}">export data</a>
    </div>
{% endblock %}
