{% extends "base.html" %}

{% block content %}
    <div class="container">
        <img class="logo-sml" src="{{url_for('static', filename='logo.png')}}" alt="">
        <h1>Register</h1>
    </div>

    <form action="" method="post">
        <div class="container">
            <div class="msg">{{ msg }}</div>

                <div class="input-box">
                    <label for="username"><b></b></label>
                    <input type="text" placeholder="Username" name="uname" required>
                </div>

                <div class="input-box">
                    <label for="name"><b></b></label>
                    <input type="text" placeholder="Full name" name="name" required>
                </div>

                <div class="input-box">
                    <label for="postcode"><b></b></label>
                    <input type="text" placeholder="Postcode" name="postcode" required>
                </div>

                <div class="input-box">
                    <label for="email"><b></b></label>
                    <input type="text" placeholder="Email" name="email" required>
                </div>

                <div class="input-box">
                    <label for="psw"><b></b></label>
                    <input type="password" placeholder="Password" name="psw" required>
                </div>

                <button class="button" type="submit">Create Account</button>
          </div>
    </form>
    <div>
        {% with messages = get_flashed_messages() %}
          {% if messages %}
          <ul>
              {% for message in messages %}
              <li>{{ message }}</li>
              {% endfor %}
          </ul>
          {% endif %}
        {% endwith %}
    </div>
{% endblock %}
