{% extends "base.html" %}

{% block content %}
  <div class="container">
    <img class="logo-sml" src="{{url_for('static', filename='logo.png')}}" alt="">
    <h1>Settings</h1>
    <button type="submit">Night Shift</button>
  </div>
{% endblock %}
