{% extends "base.html" %}

{% block content %}

  <div class="container">
    <img class="logo-sml" src="{{url_for('static', filename='logo.png')}}" alt="">
    <h1>Payment authorised</h1>
    <p id="order" class="small-txt">order #13337</p>
    <p id="name">{{ data[3] }}</p>
    <p>Head to the local shop to start riding!</p>
    <br>
    <p>You will be charged once you return the bike.</p>
    <br>
  </div>

{% endblock %}
