body {
  font-family: 'Titillium Web', sans-serif;
  float: left;
}

.profile-img {
  height: 200px;
  width: 200px;
  border: 2px solid black;
  border-radius: 10px;
  background-color: lightBlue;
}

.container {
  text-align: center;
  color: black;
}

nav {
  padding-top: 10px;
}

nav a {
  border-radius: 10px;
  background-color: rgb(31, 0, 104);
  text-align: center;
  opacity: 0.7;
  padding: 2px 2px;
  color: white;
  padding-left: 5px;
  padding-right: 5px;
}

nav a:hover {
  opacity: 1;
  background-color: grey;
  transition: all 0.2s linear;
  text-decoration: none;
}

button {
  display: inline-block;
  padding: 5px 20px;
  margin-top: 10px;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  background-color: rgb(0, 155, 129);
  border-radius: 6px;
  outline: none;
}

input {
  border-radius: 5px;
}

.logo-lrg {
  height: 150px;
  width: auto;
}

#logo-lrg {
  height: 150px;
  width: auto;
}

.logo-sml {
  height: 75px;
  width: auto;
}

.small-txt {
  padding-top: 5;
  font-size: 60%;
}

.large-txt {
  font-size: 200%;
}

#map {
  height: 300px;
  width: auto;
}

#main {
  padding-left: 125px;
}

.bike-img {
  height: 175px;
  width: auto;
  padding-left: 50px;
  border: 2px solid black;
  border-radius: 15px;
  padding-bottom: 10px;
  padding-right: 25px;
}

.bike-img-lrg {
  height: 225px;
  width: auto;
  padding-left: 50px;
  border: 2px solid black;
  border-radius: 15px;
  padding-bottom: 10px;
  padding-right: 25px;
}

#export {
  float: right;
}

#profile {
  text-align: center;
}

#settings-cog {
  height: 50px;
  width: auto;
  float: right;
}

.logged-container {
  text-align: left;
  padding-left: 20px;
  padding-top: 10px;
}

.flashed {
  text-decoration: none;
  color: #ff0000;
  font-weight: bold;
}

.flashed ul {
  list-style-type: none;
}

footer {
  color: black;
}

footer p {
  padding-left: 20px;
}

#order {
  text-align: left;
  padding-left: 20px;
}

.container .input-box {
  padding-top: 10px;
}

#m-booked-small-t2-99861 {
  padding-top: 10px;
}

form {
  margin-bottom: 0px;
}